---
layout: default
title : Homepage
navbar_name: Home
num_selected: 10
---
{% include widgets/profile_card.html %}

{% include widgets/experience_card.html %}

{% assign pubs = site.publications | sort: "date" | reverse | where: "selected", true %}
{% 
    include widgets/publication_card.html 
    publications=pubs limit=page.num_selected 
    title='<i class="fas fa-star"></i> Selected Publications'
%}

<script type='text/javascript' id='clustrmaps' src='//cdn.clustrmaps.com/map_v2.js?cl=9399cc&w=200&t=tt&d=w1jsZcYWX6uhqj7qrDV6Yu5EWXmHKKNJ4FzY6TnXcWs&co=ffffff&ct=120202'></script>
