{% assign publications = include.publications %}
<div class="my-3 p-0 bg-white shadow-sm rounded-sm">
    <h6 class="border-bottom border-gray p-3 mb-0">
        {% if include.title %}{{ include.title }}{% else %}<i class="fas fa-star"></i> Selected Recent Publications{% endif %} 
        <a href="publications">(view all <i class="fas fa-angle-double-right"></i>)</a> <a href='https://scholar.google.com/citations?user=SSaBaioAAAAJ'><img src="https://img.shields.io/endpoint?url=https://wangrongsheng.github.io/assets/results/gs_data_shieldsio.json&logo=Google%20Scholar&labelColor=f6f6f6&color=9cf&style=flat&label=citations"></a>
    </h6>
    {% for item in publications limit:include.limit %}
        {% include widgets/publication_item.html item=item %}    
    {% endfor %}
    <h6 class="d-block p-3 mt-0 text-right">
        <a href="publications">All publications <i class="fas fa-angle-double-right"></i></a>
    </h6>
</div>

